body {
	width: 1200px;
	height: 100%;
	margin: 0 auto;

	font-family: "Roboto",  "Verdana", sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 700;
	color: rgba(255, 255, 255, 1);

	background-color: rgba(134, 159, 145, 1);
}

.container {
	width: 1146px;
	margin: 0 auto;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.wrapper-background {
	background-image: url("../img/png/banner-cream1.png");
	background-repeat: no-repeat;
	background-position: center 0;
}

.btn {
	display: inline-block;

	font-size: 18px;
	color: rgba(255, 255, 255, 1);
	text-align: center;
	vertical-align: middle;

	border: none;
	background-image: linear-gradient(#f26843, #e74a35);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.6);

	cursor: pointer;
}

.btn:hover,
.btn:focus {
	background-image: linear-gradient(#f58669, #ec6f5e);
}

.btn:active {
	background-image: linear-gradient(#e74a35, #f26843);
	box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 1);
}

.main-header {
	position: relative;

	display: flex;
	justify-content: space-between;
}

.inner-page .main-header {
	margin-bottom: 15px;
}

.main-navigation {
	display: flex;
	min-height: 80px;
}

.main-header-logo {
	align-self: center;
	width: 154px;
	height: 64px;
	margin-right: 10px;
}

.site-navigation-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 376px;
	margin: 0;
	padding: 0;

	list-style: none;
}

.site-navigation-item {
	position: relative;
}

.site-navigation-link {
	padding: 7px 13px;

	line-height: 18px;
	color: rgba(255, 255, 255, 1);
	text-decoration: underline;
	text-decoration-color: rgba(255, 255, 255, 0.2);
}

.site-navigation-link:hover,
.site-navigation-link:focus  {
	color: rgba(50, 50, 50, 1);
	text-decoration: none;	

	border-radius: 20px;
	background-color: rgba(255, 255, 255, 1);
}
	
.site-navigation-link:active {
	box-shadow: inset 0px 2px 2px 0px rgba(105, 105, 105, 1);
}

.site-navigation-item--active .site-navigation-link {
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
	padding: 7px 13px;
	
	border-radius: 20px;
	background-color: rgba(208, 112, 88, 1);
}

.submenu-site-navigation {
	position: absolute;
	top: 31px;
	left: -6px;
	z-index: 10;

	display: none;
	width: 142px;
	margin: 0;
	padding: 0;

	list-style: none;

	border-radius: 5px;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0px 18px 25px 2px rgba(0, 0, 0, 0.4);
}

.submenu-site-item {
	margin-bottom: 5px;
}

.submenu-site-item.submenu-site-item--title {
	width: 129px;
	height: 22px;
	margin: 0 auto;
	padding: 8px 0;

	border-bottom: 1px solid rgba(202, 202, 199, 1);
}

.submenu-site-item--active {
	background-color: rgba(208, 112, 88, 1);
}

.submenu-site-item--active a {
	color: rgba(255, 255, 255, 1);
}

.submenu-site-link {
	box-sizing: border-box;
	display: inline-block;
	width: 100%;
	height: 28px;
	padding: 8px 19px;

	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: rgba(50, 50, 50, 1);
}

.submenu-site-link:hover,
.submenu-site-link:focus {
	background-color: rgba(251, 222, 215, 1);
}

.submenu-site-link:active {
	background-color: rgba(246, 181, 165, 1);
}

.submenu-title {
	padding: 0 14px;
	font-size: 14px;
	line-height: 16px;
	color: rgba(50, 50, 50, 1);
}

.site-navigation-item:hover .submenu-site-navigation {
	display: block;
}

.user-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 245px;
	margin: 0;
	margin-left: auto;
	padding: 0;

	list-style: none;
}

.search-item {
	position: relative;
}

.form-search {
	position: absolute;
	top: 34px;
	left: -308px;

	display: none;
	width: 310px;
	height: 44px;
	padding: 20px 15px;

	border-radius: 5px;
	background-color: rgba(248, 247, 244, 1);
}

.form-search input {
	width: 100%;
	height: 100%;
	padding: 13px 14px;
	box-sizing: border-box;

	border-radius: inherit;
	border: 1px solid rgba(211, 211, 211, 1);
}

.input-item {
	position: relative;
}

.form-input {
	position: absolute;
	top: 35px;
	right: 0;
	z-index: 10;

	display: none;
	width: 240px;
	height: 170px;
	padding: 20px 16px 22px 20px;

	border-radius: 5px;
	background-color: rgba(248, 247, 244, 1);
}

.input-item:hover .form-input {
	display: block;
}

.form-item-input {
	margin: 0;
	margin-bottom: 20px;
}

.form-item-bottom {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.form-link-block {
	width: 121px;
	margin: 0;
}

.form-link-block a:hover,
.form-link-block a:focus {
	color: rgba(232, 77, 55, 1);
	text-decoration-color: rgba(232, 77, 55, 1);
}

.form-item-input input {
	width: 100%;
	padding: 13px 13px 14px;
	box-sizing: border-box;

	border-radius: 5px;
	border: 1px solid rgba(211, 211, 211, 1);
}

.btn-input-form {
	padding: 11px 24px;

	line-height: 24px;

	border-radius: 18px;
	box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 1);
}

.form-link {
	font-size: 13px;
	line-height: 20px;
	font-weight: 400;
	color: rgba(50, 50, 50, 1);

	text-decoration: underline;
	text-decoration-color: rgba(50, 50, 50, 1);
}

.btn-user-navigation {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;

	box-shadow: none;
	border-radius: 15px;
	background: rgba(255, 255, 255, 0.2);
}

.btn-search {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 32px;
	height: 32px;

	border-radius: 50%;
}

.btn-user-navigation:hover,
.btn-user-navigation:focus {
	background: rgba(255, 255, 255, 1);
}

.btn-user-navigation:active {
	box-shadow: none;
}

.btn-search:hover path,
.btn-search:focus path {
	fill: black;
}


/*СПРОСИТЬ У ВИТИ КАК ДЕЛАТЬ)*/
.search-item:hover .form-search,
.search-item:focus .form-search {
	display: block;
}

.btn-input {
	position: relative;

	padding: 8px 16px;
	padding-left: 45px;
}

.btn-input::before {
	content: "";

	position: absolute;
	top: 50%;
	right: 50%;

	width: 21px;
	height: 19px;

	background-image: url("../img/svg/entrance-white.svg");
	background-repeat: no-repeat;
	background-position: center;

	transform: translateY(-50%) translateX(-37%);
}

.btn-basket {
	position: relative;

	padding: 8px 16px;
	padding-left: 45px;
}

.btn-basket::before {
	content: "";

	position: absolute;
	top: 50%;
	right: 50%;

	width: 21px;
	height: 20px;

	background-image: url("../img/svg/basket.svg");
	background-repeat: no-repeat;
	background-position: center;

	transform: translateY(-50%) translateX(-60%);
}

.btn-input:hover,
.btn-input:focus,
.btn-basket:hover,
.btn-basket:focus {
	color: rgba(50, 50, 50, 1);
}

.btn-input:hover::before,
.btn-input:focus::before {
	background-image: url("../img/svg/entrance.svg");
}

.btn-basket:hover::before,
.btn-basket:focus::before {
	background-image: url("../img/svg/basket-red.svg");
}



/*						Внутренняя страница(Блок корзины)					*/


.inner-page .basket-item {
	position: relative;
}

.inner-page .user-navigation {
	width: 261px;
}

.inner-page .btn-basket--active {
	color: rgba(50, 50, 50, 1);

	background-color: rgba(255, 255, 255, 1);
}

.inner-page .btn-basket::before {
	right: 58%;

	background-image: url("../img/svg/basket-red.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.basket-block {
	position: absolute;
	top: 35px;
	right: 0;
	z-index: 15;

	box-sizing: border-box;
	display: none;
	flex-wrap: wrap;
	flex-direction: column;
	width: 540px;
	padding: 29px 15px 24px;

	color: rgba(50, 50, 50, 1);
	
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 1);
}

.basket-table-title {
	margin-bottom: 15px;

	font-size: 15px;
	line-height: 18px;
	text-align: right;
}

.btn-delete {
	position: relative;

	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;

	border: 0;
	background-color: transparent;

	cursor: pointer;
}

.btn-delete::before,
.btn-delete::after {
	content: "";

	position: absolute;
	top: 3px;
	left: 0;

	width: 16px;
	height: 1px;

	background-color: rgba(35, 31, 32, 1);

	transform: translateY(-50%);
}

.btn-delete::before {
	transform: rotate(45deg);
}

.btn-delete::after {
	transform: rotate(-45deg);
}

.btn-delete:hover::before,
.btn-delete:hover::after,
.btn-delete:focus::before,
.btn-delete:focus::after {
	opacity: 0.6;
}

.btn-delete:active::before,
.btn-delete:active::after {
	opacity: 0.2;
}

.basket-table-row {
	display: flex;
	align-items: baseline;
	min-height: 33px;
	margin-bottom: 20px;

	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
}

.basket-table-row:nth-child(2) {
	width: 100%;
	margin-bottom: 14px;
	padding-bottom: 15px;

	border-bottom: 1px solid rgba(202, 202, 199, 1);
}

.basket-goods-name {
	position: relative;

	width: 230px;
	margin: 0;
	padding: 0 16px 0 57px;
}

.basket-goods-name::before {
	content: "";

	position: absolute;
	left: 12px;

	width: 33px;
	height: 33px;

	background-repeat: no-repeat;
	background-position: 0 0;

	transform: translateY(-50%);
}

.basket-table-row:nth-child(1) .basket-goods-name::before {
	top: 50%;
	background-image: url("../img/png/cream1-mini.png");
}

.basket-table-row:nth-child(2) .basket-goods-name::before {
	top: 25%;
	background-image: url("../img/png/cream2-mini.png");
}

.basket-goods-worth {
	margin: 0;
	margin-right: 28px;
}

.basket-goods-price {
	margin: 0;
}

.decor-el-price {
	color: rgba(153, 153, 153, 1);
}

.btn-basket-table {
	margin-left: auto;
	padding: 9px 14px;

	border-radius: 18px;
}

.basket-item:hover .basket-block,
.basket-item:focus .basket-block {
	display: flex;
}

/*___________________________________________________________*/
.header-contacts {
	position: absolute;
	top: 73px;
	right: 0;
	z-index: 0;

	display: flex;
	flex-wrap: wrap;
	width: 167px;
	margin: 0;
}

.header-contacts-time {
	width: 100%;
	margin-bottom: 4px;
	
	font-size: 14px;
	line-height: 16px;
	text-align: right;
}

.header-contacts-tel {
	width: 100%;
	
	font-size: 22px;
	line-height: 24px;
}



/*						Популярные товары								*/


.slider-goods {
	position: relative;

	min-height: 215px;
	margin-top: 312px;
	margin-bottom: 40px;
}

.slider-goods-item {
	position: absolute;
	left: 50%;
	
	display: none;
  width: 670px;
	
	text-align: center;
	
  transform: translateX(-50%);
}

.slider-goods-item--active {
	display: block;
}

.slider-goods-title {
	margin: 0;
	margin-bottom: 31px;

	font-size: 60px;
	line-height: 60px;
}

.btn-add-basket {
	padding: 8px 40px;

	font-size: 32px;
	line-height: 44px;
	text-shadow: 0px 2px 5px rgba(160, 32, 11, 1);

	border-radius: 28px;
}

.slider-controls {
	position: absolute;
	top: 170px;
	left: 0;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 80px;

	cursor: pointer;
}

.slider-btn {
	width: 18px;
	height: 18px;

	border-radius: 50%;
	border: 2px solid rgba(255, 255, 255, 1);
}

.slider-btn:hover,
.slider-btn:focus {
	background-color: rgba(255, 255, 255, 0.4);
}

.slider-btn--active {
	background-color: rgba(255, 255, 255, 1);
}

.slider-btn--active:hover {
	background-color: rgba(255, 255, 255, 1);

	cursor: default;
}



/*						<Баннер								*/

.banner-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;

	list-style: none;
}

.banner-item {
	display: flex;
	flex-direction: column;
	width: 522px;
	margin-bottom: 40px;
	padding: 16px 19px;

	border-radius: 15px;
	background-size: cover;
}

.banner-item--raspberry {
	background-color: #a70c2b;
	background-image: url("../img/jpg/raspberry-fon.jpg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.banner-item--chocolate {
	background-color: #43281c;
	background-image: url("../img/jpg/chocolate-fon.jpg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.banner-title {
	margin: 0;
	margin-bottom: 15px;

	font-size: 35px;
	line-height: 41px;
}

.banner-description {
	margin: 0;
	margin-bottom: 44px;
	
	font-size: 18px;
	line-height: 22px;
}

.btn-banner {
	margin-left: auto;
	margin-bottom: 9px;
	padding: 11px 24px;

	border-radius: 22px;
}





/*						<Баннер								*/


.hits-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;

	list-style: none;
}

.hits-item {
	position: relative;
	z-index: 10;

	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

	width: 267px;
	margin-right: 26px;
	margin-bottom: 37px;
}

.hits-item::before {
	content: "";

	position: absolute;
	top: 0;
	left: 0;

	width: 61px;
	height: 61px;

	background-image: url("../img/svg/hit.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.hits-item:nth-child(4n) {
	margin-right: 0;
}

.hits-item:nth-child(n+5) {
	margin-top: 60px;
}

.hits-title {
	order: 1;
	margin: 0;
	margin-top: 14px;

	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	text-decoration: underline rgba(255, 255, 255, 0.2);
}

.hits-item-img {
	order: 0;

	border-radius: 50%;
}

.hits-price {
	position: absolute;
	top: 209px;
	left: -1px;

	margin: 0;

	font-size: 45px;
	line-height: 45px;
}

.price-element {
	position: absolute;
	top: 5px;
	right: -44px;

	font-size: 29px;
	text-transform: lowercase;
}

.hits-hover-btn {
	position: absolute;
	top: -6px;
	left: -13px;
	z-index: -1;

	display: none;
	order: 2;
	width: 292px;
	min-height: 405px;
	margin: 0 auto;
	
	border-radius: 5px;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	background-color: rgba(255, 255, 255, 0.2);
}

.btn-fast-view {
	position: absolute;
	bottom: 23px;
	left: 16%;

	padding: 10px 16px;
  border-radius: 19px;
}

.hits-item:hover .hits-hover-btn {
	display: block;
}



/*						Особенности								*/

.features {
	box-sizing: border-box;
	margin-bottom: 39px;
	padding: 23px;

	color: rgba(50, 50, 50, 1);
	
	border-radius: 18px;
	background-color: #eaddc1;
	background-image: url("../img/jpg/waffle-fon.jpg");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
}

.main-title {
	margin: 0;
	margin-bottom: 23px;

	font-size: 24px;
	font-weight: 500;
	line-height: 30px;
}

.features-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;

	list-style: none;
}

.features-item {
	position: relative;

	width: 540px;
}

.features-item:nth-child(n+3) {
	margin-top: 24px;
}

.features-description {
	margin: 0;
	padding-left: 54px;
}

.features-item:nth-child(2n) .features-description {
	padding-left: 60px;
}

.features-description::before {
	content: "";

	position: absolute;
	top: -14px;
	left: -3px;

	width: 55px;
	height: 49px;
	
	background-repeat: no-repeat;
}

.features-item:nth-child(1) .features-description::before {
	background-image: url("../img/svg/ice-cream.svg");
	background-position: 0 0;
}

.features-item:nth-child(2) .features-description::before {
	background-image: url("../img/svg/cow.svg");
	background-position: 6px 0;
}

.features-item:nth-child(3) .features-description::before {
	background-image: url("../img/svg/eco.svg");
	background-position: 0 0;
}

.features-item:nth-child(4) .features-description::before {
	background-image: url("../img/svg/thermometer.svg");
	background-position: 6px 0;
}



/*						Особенности								*/

.about-us {
	margin-bottom: 40px;
}

.about-us-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;

	list-style: none;
}

.new-item-link {
	display: block;
	padding: 23px 20px 81px;
	
	color: rgba(50, 50, 50, 1);

	border-radius: 15px;
	background-color: rgba(255, 255, 255, 1);
	background-image: url("../img/jpg/strawberry-fon.jpg");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover
}

.news-title {
	margin: 0;
	margin-bottom: 5px;

	font-size: 16px;
	line-height: 22px;
}

.news-description {
	margin: 0;
	width: 330px;
	padding-right: 190px;

	font-size: 24px;
	line-height: 30px;
	text-decoration: underline;
}

.sweet-newsletter-item {
	width: 506px;
	padding: 28px 22px;

	color: rgba(90, 90, 90, 1);

	border-radius: 15px;
	border: 5px solid transparent;
	border-image-source: url("../img/svg/bg-post.svg");
	border-image-slice: 7;
	background-color: rgba(255, 255, 255, 1);
}

.sweet-newsletter-description {
	margin: 0;
	margin-bottom: 38px;

	font-weight: 400;
	font-size: 16px;
}

.sweet-newsletter-form {
	display: flex;
	justify-content: space-between;
}

.input-sweet-newsletter {
	width: 339px;
	padding: 9px 13px;

	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: rgba(153, 153, 153, 1);

	border-radius: 5px;
	border: 1px solid rgba(211, 211, 211, 1);
}

.btn-sweet-newsletter {
	padding: 10px 19px;

	font-size: 18px;
	line-height: 24px;

	border-radius: 21px;
}



/*						карта								*/

.map {
	position: relative;

	width: 100%;
	margin-bottom: 14px;
}

.map-link img {
	min-height: 430px;
}

.map-info {
	position: absolute;
	top: 62px;
	right: 27px;

	width: 250px;
	padding: 28px 26px 34px;

	background-color: rgba(255, 255, 255, 1);
	border-radius: 15px;
}

.map-info-description {
	margin: 0;
	margin-bottom: 15px;

	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	font-style: normal;
	color: rgba(50, 50, 50, 1);
}

.map-info-address {
	font-weight: 700;
	font-size: 18px;
	line-height: 26px;
}

.map-info-tel {
	font-weight: 700;
	font-size: 18px;
	line-height: 32px;
}

.btn-map-info {
	width: 100%;
	margin-top: 7px;
	padding: 10px 0px;

	border-radius: 19px;
}



/*						подвал								*/

.main-footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 21px;
}

.footer-social-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 186px;
	margin: 0;
	margin-top: 16px;
	margin-right: auto;
	padding: 0;

	list-style: none;
}

.social-btn {
	display: inline-block;
	width: 32px;
	height: 32px;
	
	vertical-align: middle;

	border-radius: 50%;
	border: 3px solid rgba(255, 255, 255, 0.5);

	opacity: 0.8;
}

.social-btn:hover,
.social-btn:focus {
	border: 3px solid rgba(255, 255, 255, 0.7);
	opacity: 1;
}

.social-btn:active {
	opacity: 0.6;
}

.footer-menu-list {
	display: flex;
	flex-wrap: wrap;
	width: 300px;
	margin: 0;
	margin-top: 9px;
	padding: 0;

	list-style: none;
}

.footer-menu-item {
	margin-right: 34px;
}

.footer-menu-item a:hover,
.footer-menu-item a:focus {
	color: rgba(255, 188, 158, 1);
	text-decoration-color: rgba(255, 188, 158, 1);
}

.footer-menu-item:nth-child(2n) {
	margin-right: 0;
}

.footer-menu-item--production {
	margin-right: 40px;
}

.footer-menu-item a {
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
	color: rgba(255, 255, 255, 1);
	text-align: left;
	text-decoration: underline;
	text-decoration-color: rgba(255, 255, 255, 0.2);
}

.footer-supplier-link {
	position: relative;

	font-weight: 700;
}

.footer-supplier-link::before {
	content: "";

	position: absolute;
	top: 50%;
	left: -22px;

	width: 15px;
	height: 13px;

	background-image: url("../img/svg/heart.svg");
	background-repeat: no-repeat;
	background-position: 0 0;

	transform: translateY(-50%);
}

.footer-copyright {
	width: 190px;
	margin-top: -3px;
	margin-left: auto;
}

.copyright-text {
	margin: 0;

	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
}

.footer-copyright-link {
	color: inherit;
	text-decoration: underline;
	text-decoration-color: rgba(255, 255, 255, 0.2);
}












/*							КАТАЛОГ ТОВАРОВ							*/

.breadcrumbs {
	margin-bottom: 2px;
}

.breadcrumbs-list {
	display: flex;
	margin: 0;
	margin-right: ;
	padding: 0;

	list-style: none;
}

.breadcrumbs-item {
	position: relative;
}

.breadcrumbs-item::after {
	content: "»";

	position: absolute;
	top: 50%;
	right: 6px;

	transform: translateY(-50%);
}

.breadcrumbs-item:last-child::after {
	content: none;
}

.breadcrumbs-item a {
	margin-right: 21px;

	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: rgba(255, 255, 255, 1);
	text-decoration: underline;
	text-decoration-color: rgba(255, 255, 255, 0.2);
}

.breadcrumbs-item a:hover,
.breadcrumbs-item a:focus,
.breadcrumbs-item a:active {
	color: rgba(255, 188, 158, 1);
	text-decoration-color: rgba(255, 188, 158, 1);
}

.breadcrumbs-item-current a,
.breadcrumbs-item-current a:hover,
.breadcrumbs-item-current a:focus,
.breadcrumbs-item-current a:active {
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
}

.filters {
	margin-bottom: 40px;
}

.catalog-title {
	margin: 0;
	margin-bottom: 26px;

	font-size: 35px;
	line-height: 41px;
}

.filters-form {
	display: flex;
	flex-wrap: wrap;
	width: 860px;
}

.filters-item {
	margin: 0;
	padding: 0;

	border: 0;
}

.legend-title {
	margin-left: 14px;
	margin-bottom: 6px;

	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: rgba(255, 255, 255, 1);
}

.legend-price-title,
.legend-fat-title {
	margin-left: 13px;
}

.filters-sorting {
	width: 193px;
	margin-right: 15px;
}

.filters-range {
	position: relative;
	width: 220px;
	margin-right: 14px;
}

.filters-fat {
	width: 415px;
}

.filters-filler {
	width: 703px;
	margin-top: 16px;
}

.sorting-list {
	box-sizing: border-box;
	width: 100%;
	padding: 9px 17px;

	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: rgba(255, 255, 255, 1);
	text-transform: lowercase;

	border: 0;
	border-radius: 20px;
	background: rgba(255,255,255,0.2);
	background-image: url("../img/svg/icon-down-dir-white.svg");
	background-repeat: no-repeat;
	background-position: 168px center;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
} 

.sorting-list:hover,
.sorting-list:focus {
	color: rgba(50, 50, 50, 1);

	background-image: url("../img/svg/icon-down-dir.svg");
}

.sorting-list option {
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: rgba(50, 50, 50, 1);
}

.range-filter {
	width: 100%;
}

.range-controls {
	position: relative;

	padding: 18px;

	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.2);
}

.range-controls .scale {
	position: absolute;
	top: 50%;
	left: 50%;

	width: 80%;
	height: 4px;

	background-color: rgba(255, 255, 255, 0.5);

	transform: translate(-50%, -50%);
}

.range-controls .bar {
	position: absolute;
	left: 12%;

	width: 60%;
	height: 100%;

	background-color: rgba(255, 255, 255, 1);
}

.range-controls .toggle {
	position: absolute;
	top: 50%;

	width: 4px;
	height: 4px;

	border: 8px solid rgba(255, 255, 255, 1);
	border-radius: 50%;
	background-color: rgba(171, 171, 171, 1);
	box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);

	transform: translateY(-50%);
	transition: transform 0.2s ease-out;
}

.range-controls .toggle:hover {
	transform: translateY(-50%) scale(1.1);
	cursor: pointer;
}

.range-controls .toggle-min {
	left: 16%;
}

.range-controls .toggle-max {
	right: 30.4%;
}

.price-controls {
	position: absolute;
	top: -1px;
	left: 51px;

	display: flex;
	width: 135px;

	font-size: 0;
}

.price-controls label {
	display: inline-block;

	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	vertical-align: middle;
}

.price-controls input {
	width: 28px;
	margin-left: 5px;

	font: inherit;
	font-family: "Roboto", "Arial", sans-serif;
	color: rgba(255, 255, 255, 1);

	border: 0;
	background-color: transparent;
}

.filters-fat-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 9px 14px;

	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.2);

	list-style: none;
}

.filters-fat-item {
	padding-left: 32px;
}

.filters-fat-item label {
	position: relative;

	display: block;

	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: rgba(255, 255, 255, 1);

	cursor: pointer;
	user-select: none;
}

.filters-form-radio + label::before {
	content: "";

	position: absolute;
	top: 50%;
	left: -34px;

	width: 25px;
	height: 26px;

	background-image: url("../img/svg/radio-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;

	transform: translateY(-50%);

	opacity: 0.8;
}

.filters-form-radio:checked + label::before {
	background-image: url("../img/svg/radio-on.svg");
}

.filters-form-radio:hover + label:before,
.filters-form-radio:focus + label:before,
.filters-form-radio:checked:hover + label:before,
.filters-form-radio:checked:focus + label:before {
	opacity: 1;
}

.filters-filler-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 9px 17px 9px 15px;

	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.2);

	list-style: none;
}

.filters-filler-item {
	padding-left: 32px;
}

.filters-filler-item label {
	position: relative;

	display: block;

	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: rgba(255, 255, 255, 1);
	text-transform: lowercase;

	cursor: pointer;
	user-select: none;
}

.filters-form-checkbox + label::before {
	position: absolute;
	top: 50%;
	left: -15px;

	width: 25px;
	height: 25px;

	background-image: url("../img/svg/checkbox-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filters-form-checkbox + label::before {
	content: "";

	position: absolute;
	top: 50%;
	left: -34px;

	width: 26px;
	height: 25px;

	background-image: url("../img/svg/checkbox-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;

	transform: translateY(-50%);

	opacity: 0.8;
}

.filters-form-checkbox:checked + label::before {
	background-image: url("../img/svg/checkbox-on.svg");
}

.filters-form-checkbox:hover + label:before,
.filters-form-checkbox:focus + label:before,
.filters-form-checkbox:checked:hover + label:before,
.filters-form-checkbox:checked:focus + label:before {
	opacity: 1;
}

.filters-form-radio:disabled + label,
.filters-form-radio:disabled + label:before,
.filters-form-checkbox:disabled + label,
.filters-form-checkbox:disabled + label:before {
	opacity: 0.4;
	cursor: default;
}

.btn-filters {
	margin-top: auto;
	margin-left: auto;
	padding: 7px 29px;

	font-weight: 500;
	font-size: 16px;
	line-height: 18px;

	border-radius: 20px;
	border: 2px solid rgba(255, 255, 255, 1);
	background-color: rgba(255,255,255,0.2);
	background-image: none;
	box-shadow: none;
}

.btn-filters:hover,
.btn-filters:focus {
	color: rgba(50, 50, 50, 1);

	background-color: rgba(255, 255, 255, 1);
	background-image: none;
}

.btn-filters:active {
	color: rgba(50, 50, 50, 1);

	background-color: rgba(237, 237, 237, 1);
	background-image: none;
	box-shadow: inset 0px 2px 2px 0px rgba(105, 105, 105, 1);
}

.catalog {
	margin-bottom: 46px;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;

	list-style: none;
}

.catalog-item {
	position: relative;
	z-index: 10;

	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

	width: 267px;
	margin-right: 26px;
	margin-bottom: 36px;
}

.catalog-item:nth-child(4n) {
	margin-right: 0;
}

.catalog-item-title {
	order: 1;
	margin: 0;
	margin-top: 14px;
	padding: 0 5px;

	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	text-decoration: underline rgba(255, 255, 255, 0.2);
}

.catalog-item-img {
	order: 0;

	border-radius: 50%;
}

.catalog-item-price {
	position: absolute;
	top: 209px;
	left: -1px;

	margin: 0;

	font-size: 45px;
	line-height: 45px;
}

.price-element {
	position: absolute;
	top: 5px;
	right: -44px;

	font-size: 29px;
	text-transform: lowercase;
}

.catalog-item-hover-btn {
	position: absolute;
	top: -6px;
	left: -13px;
	z-index: -1;

	display: none;
	order: 2;
	width: 292px;
	min-height: 405px;
	margin: 0 auto;
	
	border-radius: 5px;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	background-color: rgba(255, 255, 255, 0.2);
}

.btn-fast-view {
	position: absolute;
	bottom: 23px;
	left: 16%;

	padding: 10px 16px;
  border-radius: 19px;
}

.catalog-item:hover .catalog-item-hover-btn {
	display: block;
}
.catalog-item:nth-child(n+5) {
	z-index: 9;
}
.catalog-item:nth-child(n+9) {
	z-index: 8;
}

.pagination {
	display: flex;
	margin-bottom: 29px;
}

.pagination-list {
	display: flex;
	justify-content: space-between;
	width: 190px;
	margin: 0;
	margin-left: auto;
	padding: 0;

	list-style: none;
}

.pagination-item {
	position: relative;
}

.pagination-item-back {
	width: 6px;
	margin-right: 12px;
}

.pagination-item-next {
	position: relative;

	width: 6px;
	margin-left: 13px;
}

.pagination-item-back .btn-pagination::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;

	width: 8px;
	height: 12px;

	background-image: url("../img/svg/icon-right-small.svg");
	background-repeat: no-repeat;
	background-position: 0 0;

	transform: translateY(-50%) rotate(180deg);

	opacity: 0.2;
}

.pagination-item-next .btn-pagination::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;

	width: 8px;
	height: 12px;

	background-image: url("../img/svg/icon-right-small.svg");
	background-repeat: no-repeat;
	background-position: 0 0;

	transform: translateY(-50%);
}

.pagination-item-current .btn-pagination {
	color: rgba(50, 50, 50, 1);

	background-color: rgba(255, 255, 255, 1);
}

.btn-pagination {
	display: inline-block;
	padding: 4px 8px;

	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: rgba(255, 255, 255, 1);

	border-radius: 50%;
}

.btn-pagination:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.btn-pagination:active {
	color: rgba(50, 50, 50, 1);

	background-color: rgba(255, 255, 255, 1);
}

.pagination-item-current:hover .btn-pagination {
	color: rgba(50, 50, 50, 1);

	background-color: rgba(255, 255, 255, 1);
}

.pagination-item-back:hover .btn-pagination,
.pagination-item-next:hover .btn-pagination,
.pagination-item-back:active .btn-pagination,
.pagination-item-next:active .btn-pagination {
	background-color: transparent;
}

.inner-page .main-footer {
	padding-top: 20px;

	border-top: 1px solid rgba(255, 255, 255, 0.3);
}






/*						Модалка								*/

.modal {
	position: fixed;
	z-index: 1000;

	border-radius: 7px;
}

.modal-feedback {
	top: 111px;
	left: 50%;

	box-sizing: border-box;
	display: none;
	width: 475px;
	padding: 15px 22px 10px;

	background-color: rgba(248, 247, 244, 1);

	transform: translateX(-50%);
}

.modal-title {
	margin: 0;
	margin-bottom: 20px;

	font-weight: 500;
	font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.2px;
	color: rgba(50, 50, 50, 1);
}

.feedback-form {
	width: 100%;
}

.feedback-form-item {
	margin: 0;
	margin-bottom: 20px;
}

.modal-form-input {
	box-sizing: border-box;
  width: 268px;
	padding: 10px 15px 8px;
	
  font-size: 16px;
  line-height: 24px;
	letter-spacing: 0.2px;
	
	border-radius: 5px;
	border: 1px solid rgba(211, 211, 211, 1);
}

.modal-form-textarea {
	box-sizing: border-box;
  width: 428px;
  min-height: 155px;
  padding: 7px 15px;

	font-size: 16px;
	line-height: 24px;

	border-radius: 5px;
	border: 1px solid rgba(211, 211, 211, 1);
}

.feedback-form-item-btn {
	display: flex;
}

.modal-btn-submit {
	margin-left: auto;
	padding: 10px 26px;

	border-radius: 25px;
}

.modal-close {
	position: absolute;
	top: 15px;
	right: 16px;

	width: 17px;
	height: 17px;

	border: 0;

	background-color: transparent;
	cursor: pointer;
}

.modal-close::before,
.modal-close::after {
	content: "";

	position: absolute;
	top: 7px;
	right: -2px;

	width: 21px;
	height: 2px;

	background-color: rgba(35, 31, 32, 1);
}

.modal-close::before {
	transform: rotate(45deg);
}

.modal-close::after {
	transform: rotate(-45deg);
}

.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;

	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.3);
}